In [9]:
#upload our toronto.csv file
from google.colab import files
uploaded = files.upload()

Saving toronto.csv to toronto.csv

In [0]:
import numpy as np
import pandas as pd

In [0]:
toronto = pd.read_csv("toronto.csv")

In [11]:
toronto

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [12]:
#creating coordinates dataframe
coordinates = pd.read_csv('https://cocl.us/Geospatial_data')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
# renaming Postal Code to PostalCode so we can use it to merge
coordinates.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [15]:
#left merge on the data
toronto_df= toronto.merge(coordinates, on="PostalCode", how="left")
toronto_df.head(11)

   PostalCode      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476
5         M1J  Scarborough  ...  43.744734 -79.239476
6         M1K  Scarborough  ...  43.727929 -79.262029
7         M1L  Scarborough  ...  43.711112 -79.284577
8         M1M  Scarborough  ...  43.716316 -79.239476
9         M1N  Scarborough  ...  43.692657 -79.264848
10        M1P  Scarborough  ...  43.757410 -79.273304

[11 rows x 5 columns]

In [0]:
# save the csv file
toronto_df.to_csv("toronto_coordinates.csv")